extends layout

block content
    header
        .header-content
            .header-title
                h1= title
            .header-message
                h2= message
            .header-button
                a.button-1(href="/login") Iniciar sesion
                a.button-2(href="/signup") Registrarse
    main
        .index-content
            .index-main
                if(albums.length > 0)
                    h2 Album reciente
                    - var l = albums.length-1
                    - for(var i = 0; i < 1; i++)
                        a(href="/album/"+albums[l]._id)
                            img(src="images/1.png", alt="").main-item
                        a.album-title(href="/album/"+albums[l]._id)
                            h3=albums[l].title
                        p.album-description=albums[l].description
                        p.album-year=albums[l].year