extends ../layout/default

block content_default
    .user-content
        if user.username
            .user-title
                h1 Editar su perfil
            .user-main-edit
                form(action= '/user/edit?_method=PUT' method="POST"  enctype="multipart/form-data")
                    .user-avatar-edit
                        img(src="/avatars/"+user.avatar)
                        input(type="file" name="avatar")
                    .user-date
                        .user-input
                            label.user-item-edit Nombre completo #[br]
                            input#txtName(type="text" name='fullname' placeholder="Por favor escribe tu nombre" value=user.fullname)
                        .user-input
                            label.user-item-edit Nombre de Usuario #[br]
                            input#txtUsername(type="text" name="username" placeholder="Nombre de usuario" value=user.username)
                        .user-input
                            label.user-item-edit Correo #[br]
                            input#txtEmail(type="text" name="email" placeholder="Correo electronico" value=user.email)
                        .user-input
                            label.user-item-edit Telefono #[br]
                            input#txtPhone(type="text" name="phone" placeholder="Numero celular" value=user.phone)
                        .user-select
                            label Genero principal #[br]
                            select#slctGender(name="gender")
                                if !user.gender
                                    option(value=gender) Seleccionar
                                - var genders = ['Reggae', 'Electronica', 'Pop']
                                each gender in genders
                                    if user.gender == gender
                                        option(value=gender selected) #{gender}
                                    else
                                        option(value=gender) #{gender}
                        .user-select
                            label.user-item-edit Tipo de cuenta #[br]
                            select#slctTypeuser(name="typeuser")
                                option(value=user.typeuser) #{user.typeuser}
                                option(value="Artista") Artista
                                option(value="GoPro") GoPro
                        .user-input
                            label Ciudad #[br]
                            input#txtCity(type="text" name="city" placeholder="Donde vives" value=user.city)
                    .user-network
                        p Redes sociales
                        .user-input              
                            label.ion-social-facebook
                            input#txtLinkF.input-big(type="text" name="facebook" placeholder="Link de tu perfil Facebook" value=user.network.facebook)
                        .user-input
                            label.ion-social-twitter
                            input#txtLinkT.input-big(type="text" name="twitter" placeholder="Link de tu perfil en Twitter" value=user.network.twitter)
                        .user-input
                            label.ion-social-instagram
                            input#txtLinkI.input-big(type="text" name="instagram" placeholder="Link de tu perfil en Instagram" value=user.network.instagram)
                        .user-input
                            label.ion-social-youtube
                            input#txtLinkY.input-big(type="text" name="youtube" placeholder="Link de tu canal en Youtube" value=user.network.youtube)
                        .user-input
                            label.ion-android-globe
                            input#txtLinO.input-big(type="text" name="other" placeholder="Tu sitio web (opcional)" value=user.network.other)
                    .user-button-edit
                        a(href='/user') Cancelar
                        input(type="submit" value="Guardar cambios")
        else
            p No puedes estar aqui
block script
    script.
        var txtName = document.getElementById("txtName")
        var txtUsername = document.getElementById("txtUsername")
        var txtEmail = document.getElementById("txtEmail")
        var txtPhone = document.getElementById("txtPhone")
        var slctGender = document.getElementById("slctGender")
        var slctGender = document.getElementById("slctGender")
        var slctTypeuser = document.getElementById("slctTypeuser")
        var txtCity = document.getElementById("txtCity")
        var txtLinkF = document.getElementById("txtLinkF")
        var txtLinkT = document.getElementById("txtLinkT")
        var txtLinkI = document.getElementById("txtLinkI")
        var txtLinkY = document.getElementById("txtLinkY")
        var txtLinkO = document.getElementById("txtLinkO")
