extends default

block content_default
    .user-content
        .user-main
            .user-avatar
                if profile
                    img(src="/avatars/"+user.avatar)
                if artist
                    img(src="/avatars/"+artist.avatar)
            .user-info
                if profile
                    h3 #{user.fullname}
                    h4 #{user.username}
                    h4.city #{user.city}
                    if user && profile
                        a(href='/logout').ion-gear-b
                        a.button-1.ion-edit(href='/user/edit')  Editar
                if dashartist 
                    h3 #{artist.fullname}
                    h4 #{artist.username}
                    h4.city #{artist.city}
                    if user
                        if following
                            form(action= '/user/unfollowing?_method=PUT' method="POST")
                                input(type="hidden"  name='unfollowing' value=artist.username)
                                button.ion-person(type='submit')  Siguiendo
                        else
                            form(action= '/user/following?_method=PUT' method="POST")
                                input(type="hidden"  name='following' value=artist.username)
                                button.ion-person-add(type='submit')  Seguir
                    else
                        form(action= '/user/following?_method=PUT' method="POST")
                            input(type="hidden"  name='following' value=artist.username)
                            button.ion-person-add(type='submit')  Seguir

        .user-section
            .user-nav
                ul
                    li: a(href='/user').hide Info
                    li: a(href='/user').show Informacion
                    li: a(href='/album') Albums
                    li: a(href='/album') Siguiendo
                    li: a(href='/album') Seguidores
            .user-button
                if !artist
                    if user.username && profile
                        a(href='/logout').ion-gear-b
                        a.button-1.ion-edit(href='/user/edit')  Editar
                else
                    if artist.username == user.username
                        a.button-1.ion-edit(href='/user/edit')  Editar
                    else
                        if user.username
                            if following
                                form(action= '/user/unfollowing?_method=PUT' method="POST")
                                    input(type="hidden"  name='unfollowing' value=artist.username)
                                    button.ion-person(type='submit')  Siguiendo
                            else
                                form(action= '/user/following?_method=PUT' method="POST")
                                    input(type="hidden"  name='following' value=artist.username)
                                    button.ion-person-add(type='submit')  Seguir
                        else
                            form(action= '/user/following?_method=PUT' method="POST")
                                input(type="hidden"  name='following' value=artist.username)
                                button.ion-person-add(type='submit')  Seguir

        block content_user