extends ../layout/default

block content_default
    .show-content
        .show-main
            .show-info
                a(href="/artist/"+album.creator.username) #{album.creator.fullname} #[br]
                span #{album.title} 
                p #[a(href="/explorer/"+album.gender) #{album.gender}] · #{album.date.year}
            .show-cover
                if album.cover
                    .show-image(style="background-image: url('/covers/"+album.cover+"')")
                        img.show-item(src="/covers/default.png", alt="")
                else
                    img(src="/covers/default.png")
            .show-button
                if user.username == album.creator.username
                    form(action="/album/"+album._id+"?_method=DELETE" method="POST")
                        a.button-1.ion-plus-round(href="/album/"+album._id+"/song/new") #[span.button-tools Añadir cancion]
                        a.button-2.ion-edit(href="/album/"+album._id+"/edit") #[span.button-tools Editar]
                        button.button-3(type='submit').ion-trash-a #[span.button-tools Eliminar]
                else
                    if like
                        form(action= '/user/dislike?_method=PUT' method="POST")
                            input(type="hidden"  name='dislike' value=album._id)
                            button.button-like(type='submit')
                                span.ion-heart   Me gusta                        
                    else
                        form(action= '/user/like?_method=PUT' method="POST")
                            input(type="hidden"  name='like' value=album._id)
                            button.button-4(type='submit').ion-heart  #[span.button-tools Me gusta]
            if songs.length > 0
                - for (var x = 0; x < songs.length; x++)
                    a.song(id=songs[x].song).show-songs
                        b #[span #{x+1}]  #{songs[x].title} - #{songs[x].artist}
            else 
                .show-songs
                    p No hay canciones
            