extends ../layout/default

block content_default
    .show-content
        .show-main
            .show-info
                a(href="/user") #{album.creator.fullname} #[br]
                span #{album.title} 
                p #{album.gender} · #{album.date.year}
            .show-cover
                if album.cover
                    .show-image(style="background-image: url('/covers/"+album.cover+"')")
                        img.show-item(src="/covers/default.png", alt="")
                else
                    img(src="/covers/default.png")
            if user.username == album.creator.username
                .show-button
                    form(action="/album/"+album._id+"?_method=DELETE" method="POST")
                        a(href="/album/"+album._id+"/song/new") Añadir cancion 
                        a(href="/album/"+album._id+"/edit")  Editar
                        input(type="submit" value="Eliminar")
            if songs.length > 0
                - for (var x = 0; x < songs.length; x++)
                    a.song(id=songs[x].song).show-songs
                        b #[span #{x+1}]  #{songs[x].title} - #{songs[x].artist}
            else 
                .show-songs
                    p.ion-sad-outline  No hay canciones
            